.div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.sideComparison {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  min-height: 400px;
  max-height: 80%;
  margin-top: 2%;
  background-color: rgb(34, 34, 34);
  align-items: center;
}
.centerComparison {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  min-height: 600px;
  background-color: rgb(48, 48, 48);
  align-items: center;
  border-top: 6px solid var(--text-accent-color);
  height:100%;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  height: 400px;
  align-items: center;
  text-align: center;
}

.price {
  font-size: 3rem;
  margin-bottom: 3%;
  text-align: left;
  width: 75%;

  p {
    font-size: 0.9rem;
    margin-top: -1%;
  }

  .accent {
    color: var(--text-accent-color);
  }
}

.benefit {
  border-bottom: rgb(143, 143, 143) 1px solid;
  width: 80%;
  text-align: left;
}
.titleText,
.sideTitleText {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  // font-weight: bold;
  margin: 10px;
}

.titleText {
  font-weight: bold;
}
.sideComparison,
.centerComparison {
  // border-radius: 10px;
}

// .titleText {
//   text-decoration: underline;
//   text-decoration-thickness: 0.2em;
//   text-underline-position: under;
//   text-decoration-color: var(--text-accent-color);
// }

@media (max-width: 600px) {
  .div {
    flex-direction: column;
  }
  .sideComparison,
  .centerComparison {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .div {
    margin: 0;
  }
}
