.div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.sideComparison {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  max-height: 80%;
  width: 33.333%;
  margin-top: 2%;
  background-color: rgb(34, 34, 34);
  align-items: center;
}

.description {
  font-size: 0.95rem;
  color: darkgray;
}

.booking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.centerComparison {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
  width: 33.333%;
  background-color: rgb(48, 48, 48);
  align-items: center;
  border-top: 6px solid var(--text-accent-color);
  height: 100%;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  height: 400px;
  align-items: center;
  text-align: center;
}

.price {
  font-size: 3rem;
  margin-bottom: 3%;
  margin-top: 7.5%;
  text-align: left;
  width: 75%;

  p {
    font-size: 0.9rem;
    margin-top: -1%;
  }

  .accent {
    color: var(--text-accent-color);
  }
}

.benefit {
  border-bottom: rgb(143, 143, 143) 1px solid;
  width: 80%;
  text-align: left;
}
.titleText,
.sideTitleText {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  // font-weight: bold;
  margin: 10px;
  margin-bottom: 10%;
}

.titleText {
  font-weight: bold;
}

.subtitleText {
  width: 100%;
  text-align: center;
  color: rgb(197, 197, 197);
  font-size: 1rem;
  margin-top: -10%;
  margin-bottom: 3%;
}
.sideComparison,
.centerComparison {
  // border-radius: 10px;
}

// .titleText {
//   text-decoration: underline;
//   text-decoration-thickness: 0.2em;
//   text-underline-position: under;
//   text-decoration-color: var(--text-accent-color);
// }

@media (max-width: 856px) {
  .div {
    flex-direction: column;
  }
  .sideComparison,
  .centerComparison {
    width: 60%;
    border-radius: 10px;
  }
}

@media (max-width: 936px) {
  .div {
    flex-direction: column;
  }

  .div {
    flex-direction: column;
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 60%;
  }
  .sideComparison,
  .centerComparison {
    width: 100%;
    // border-radius: 0;
  }
}
@media (max-width: 600px) {
  .div {
    flex-direction: column;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
  }
  .sideComparison,
  .centerComparison {
    width: 100%;
    // border-radius: 0;
  }
}
