.main {
  padding: 4rem 0;
  flex: 1;
  width: 100vw;
  text-align: center;
  /* // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center; */
  background: rgb(0, 0, 0);
}
