* {
  // --page-background-color: #060606;
  --title-color: #ffff;
  --text-accent-color: #e93f33;

  $mobile-screen-width: 676px;
  --main-01-dp: #1e1e1e;
  --main-navbar-elevation-color: #2e2e2e;
  --navbar-text-color: white;
  --background-main-color: #121212;
  --menu-toggle-color: white;
  --title-text-color: white;
}

footer p {
  font-size: 0.2rem;
}

footer {
  background-color: black;
}

html,
body {
  background-color: var(--page-background-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  z-index: -100;
}

.bg-img {
  z-index: -100;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: white;
  background: black;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.1);
  }
}
