* {
  // --page-background-color: #060606;
  --title-color: #ffff;
  --text-accent-color: #e93f33;

  $mobile-screen-width: 676px;
  --main-01-dp: #1e1e1e;
  --main-navbar-elevation-color: #2e2e2e;
  --navbar-text-color: white;
  --background-main-color: #121212;
  --background-dark-color: #0b0b0b;
  --menu-toggle-color: white;
  --title-text-color: white;
}

footer p {
  font-size: 0.2rem;
}

footer {
  background-color: black;
}

html,
body {
  background-color: var(--page-background-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  z-index: -100;
}

.page-content-main {
  // padding-top: calc(100vh - 60px);
  padding-top: 60px;
}
.blog-content-main {
  // padding-top: calc(100vh - 60px);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.bg-img {
  z-index: -100;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: white;
  background: black;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-responsive {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.1);
  }
}

@media (max-width: 600px) {
  .flex-row-responsive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.alice-carousel__stage-item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 676px;
}
.alice-carousel__stage-item img {
  max-height: 676px;
  max-width: 100vw;
}

.alice-carousel__next-btn,
.alice-carousel__next-btn-item {
  color: var(--text-accent-color);
}

.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: var(--text-accent-color) !important;
}
.alice-carousel__dots-item:not(.__custom),
.alice-carousel__dots-item:not(.__custom) {
  background-color: var(--main-navbar-elevation-color) !important;
}

.withBackground {
  background-color: var(--background-main-color);
}
.withBackgroundDark {
  background-color: var(--background-dark-color);
}

.controls-container {
  --highlight-width: auto;
  --highlight-x-pos: 0;

  display: flex;
}

.controls {
  display: inline-flex;
  justify-content: space-between;
  background: rgb(28, 27, 27);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 500px;
  padding: 12px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.controls input {
  opacity: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.segment {
  min-width: 120px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.segment label {
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 10px;
  position: relative;
  transition: color 0.5s ease;
}

.segment.active label {
  color: #e03333;
}

.controls::before {
  content: "";
  background: #ea3939;
  border-radius: 8px;
  width: var(--highlight-width);
  transform: translateX(var(--highlight-x-pos));
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 0;
  z-index: 0;
}
